
        body{
            background-color: rgb(23, 22, 75);
        }

        p{
            color: #dddddd;
        }

        h1,h2,h3{
            color: #286ceb;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        header {
            background-color: #4f4dc4;
            color: rgb(13, 12, 87);
            padding: 10px 0;
            text-align: center;
            font-size: 24px;
        }

        nav {
            background-color: rgb(0, 12, 116);
            overflow: hidden;
        }

        nav a {
            float: left;
            display: block;
            color: rgba(111, 136, 250, 0.877);
            text-align: center;
            padding: 10px 25px;
            text-decoration: none;
        }
        nav a:hover {
            background-color: #b2b1eb;
            color: rgb(53, 23, 221);
        }

        /* Estilo para o conteúdo */
        .content {
            display: flex;
            flex-wrap: wrap;
            margin: 35px;
        }

        .content img {
            width: 100%;
            max-width: 400px;
            margin: 120px;
        }
        .content div {
            flex: 1;
            padding: 10px;
            box-sizing: border-box;
        }

        /* Responsividade para telas menores */
        @media (max-width: 768px) {
            .content {
                flex-direction: column;
            }
        }